doctype html
html
  head
    meta(charset="UTF-8")
    title Artesanos - #{titulo}
    link(rel="stylesheet", href="/estilos.css")
    block head
  body
    if user
      nav.navbar
        .nav-left
          a.nav-button(href=`/mostrar/albumnes/${user.id_perfil}`) Mis albúmes
          a.nav-button(href="/publicar") Publicar
          a.nav-button(href="/perfil/todaslaspersonas") Personas

        .nav-right
          a.nav-button(href="/seguidores/solicitudes") Solicitudes
          a.nav-perfil(href=`/perfil/id/${user.id_perfil}`)
            if user.foto
              img.nav-foto(src=`/uploads/${user.foto}`, alt="Mi Perfil")
            else
              span.nav-perfil-text Mi Perfil
    else
      nav.navbar
        .nav-right
          a.nav-button(href="/usuario/loguearse") Iniciar sesión
          a.nav-button(href="/usuario/registrarse") Registrarse

    block contenido
    block foot
    //-WebSocket
    script(src="/socket.io/socket.io.js")
    if user
      script.
        window.usuarioAutenticado = !{JSON.stringify(user)};
    script(src="/io.js")

